@import "views/login";
@import "views/Dashboard";
.color-line {
    background: #F7F9FA linear-gradient(to right, #34495E, #34495E 25%, #9B59B6 25%, #9B59B6 35%, #3498DB 35%, #3498DB 45%, #62CB31 45%, #62CB31 55%, #FFB606 55%, #FFB606 65%, #E67E22 65%, #E67E22 75%, #E74C3C 85%, #E74C3C 85%, #C0392B 85%, #C0392B 100%) no-repeat scroll 50% 100% / 100% 6px;
    height: 6px;
}

.img-circle {
    border-radius: 50%;
}


/* Small devices (tablets, 768px and up) */

@media (min-width: $screen-sm-min) {}


/* Medium devices (desktops, 992px and up) */

@media (min-width: $screen-md-min) {}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: $screen-lg-min) {}
