#Dashboard {
    background: #F1F3F6;
    .navbar {
        background: $white;
        margin-bottom: 0;
        .navbar-toggle {
            float: left;
            margin-left: 15px;
            display: block;
        }
        .navbar-brand {
            text-align: center;
        }
    }
    .Menu {
        float: left;
        width: 180px;
        background: $white;
        border-right: 1px solid $Light-Grey;
        ul {
            padding: 0;
            li {
                list-style-type: none;
                border-bottom: 1px solid #ccc;
                padding: 15px;
                vertical-align: center;
            }
        }
    }
    .lineGraph {
        max-width: 800px;
        .graph {
            width: 400px;
            display: inline-block;
        }
        .info {
            display: inline-block;
            width: 200px;
            position: relative;
            bottom: 40px;
        }
    }
    .Activity {
        width: 400px;
        .glyphicon-star-empty {
            font-size: 40px;
        }
    }
    .Listing {
        tr {
            border: 0;
            height: 50px;
            td{
                text-align: center;
                padding: 0 20px;
            }
            th{
                text-align: center;
            }
        }
        tbody>tr:nth-child(odd) {
            background: #E4EBEF;
        }
        body {
            background: #ccc;
        }
    }
}


/* Small devices (tablets, 768px and up) */

@media (min-width: $screen-sm-min) {
    #Dashboard {
        .navbar {
            .navbar-toggle {
                float: right;
            }
            .navbar-brand {
                width: 180px;
                background: $white;
            }
            form {
                margin: 0;
                input {
                    min-height: 50px;
                    border-radius: 0;
                    border: none;
                }
            }
        }
        .profile-picture {
            padding: 20px 0;
            img {
                display: block;
                margin: 0 auto;
            }
        }
    }
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: $screen-md-min) {}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: $screen-lg-min) {}
