body {
    background: #F1F3F6;
}

#Dashboard {
    .Header {
        background: $white;
    }
    .navbar {
        margin-bottom: 0;
        .navbar-toggle {
            float: left;
            margin-left: 15px;
            display: block;
        }
        .navbar-brand {
            text-align: center;
        }
    }
}


/* Small devices (tablets, 768px and up) */

@media (min-width: $screen-sm-min) {
    #Dashboard {
        .navbar {
            .navbar-toggle {
                float: right;
            }
            .navbar-brand {
                width: 180px;
                background: $white;
            }
            .Menu {
                width: 180px;
                background: $white;
            }
            form {
            	margin: 0;
                input {
                    min-height: 50px;
                    border-radius: 0;
                    border:none;
                }
            }
        }
    }
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: $screen-md-min) {}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: $screen-lg-min) {}
